body{
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    height: 70px;
    line-height: 70px;
    background-color: white;
}
.menu{
    display: flex;
    padding-left: 30px;
    
}
.menu li{
    padding-left: 20px;
}
.menudown{
    background-color: rgb(255, 255, 255);
    margin: 0px auto;
    width: 400px;
    height: 450px;
    position: absolute;
    left: 0px;
    top: 70px;
    display: none;
    line-height: 45px;
   
}
.menudown li a{
    margin: 10px;
}
.menu .menulink:hover .menudown{
    display: block;
    position: absolute;
}
.menulink a{
    font-size: 20px;
}
.timkiem{
    font-size: 20px;
    padding-left: 20px;
}
h1 a{
    color: black;
    padding-left: 414px;

}
.menu1{
    display: flex;
    padding-left: 280px;
    font-size: 20px;
}
.my{
    padding-left: 40px;
}




nav{
    width: 50%;
    height: 675px;
    background-color:rgb(200, 200, 200);
    float: left;
    margin-top: 15px;
}
.nu1{
    width: 100%;
    /* height: 400px; */
    margin-top: -50px;
}
article{
    width: 50%;
    height: 675px;
    background-color: rgb(232, 232, 232);
    float: right;
    margin-top: 15px;
}
.ten{
    padding-top: 220px;
    padding-bottom: 210px;
    padding-left: 30%;
}
.maso{
    padding-bottom: 17px;
    margin-top: -10px;
}
.tieude{
    font-size: 35px;
}
.gia{
    font-weight: bold;
    font-size: 23px;
    padding-top: 15px;
}
.lh{
    margin-top: 20px;
    width: 455px;
    height: 60px;
    font-family: inherit;
    font-weight: bolder;
    font-size: 18px;
    background-color: black;
    color: white;
}
.kt{
    margin-top: 16px;
    width: 455px;
    height: 60px;
    font-family: inherit;
    font-weight: bolder;
    font-size: 18px;
    border: 2px solid #000000; 
}
.mota{
    width: 100%;
    height: 500px;
    margin-top: 740px;
    padding-top: 20px;
    margin-bottom: -240px;
}
.mota p{
    font-size: 20px;
    padding-left: 100px;
}



html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #ffffff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 30%;
  height: 60%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ffffff;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

.gioithieu{
    width: 100%;
    height: 400px;
}
.gioithieu p{
    padding-top: 55px;
    padding-left: 80px;
    font-size: 17px;
}
.gioithieu hr{
    margin-top: 20px;
}
.mucluc li{
    padding-top: 15px;
    padding-left: 80px;
    font-size: 17px;
    margin-top: 0px; 
}

.mucluc li {
    list-style: disc inside;
}
li {
    display: list-item;
    /* text-align: -webkit-match-parent; */
}
.muc1{
    width: 400px;
}
.muc2{
    float: right;
    margin-top: -287px;
    margin-right: 720px;
}
.gioithieu img{
    
    width: 35%;
    /* padding: 0; */
    /* margin: 0; */
    margin-top: 25px;
    margin-left: 500px;

}

footer{
    margin-top: 700px;
    width: auto;
    height: 200px;
    background-color: #19110b;
}
footer .logo{
    color: white;
    text-align: left;
    padding-left: 90px;
    padding-top: 50px;
}
.hrr{
    margin-top: 35px;
}
.lists{
    display: flex;
    padding-left: 90px;
    padding: 35px 60px;
}
.lists li a{
    color: white;
    padding: 0 18px;
}
.lists li img{
    width: 27px;
    height: 15px;
    margin-right: -15px;
}